.ben
{
  background-image: url(landing.jpg);
  width: 1000px;
  height: 400px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.row {
    column-gap: 0px;
}

.text1 {
    text-align: right;
    float: right;
    justify-content: flex-end;
}
.Food1 {
   float:left;

}
.nested{
  column-gap: 0px;
  position: relative;
  background-color: grey;
}
.row3 {
   background-color: brown;

}
.well2 {
  background-color: brown;

}

.text2 {
   text-align: right;
   justify-content: flex-end;
}
.drink {
  float: right;
  align-items: flex-end;

}

.logo {
  width: 1px;
  height: 1px;
  image-orientation: center-block;
  padding-left: 3px;
  padding-right: 3px;

}
.top {
  text-align: center;
  text-decoration: none;

}
