.container {
  border-color: black block 1px;
}
/*I used class ben to fix the first row. The class helped me fix the landing image*/
.ben
{
  background-image: url(landing.jpg);
  width: 1000px;
  height: 400px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

div.bottomcenter {
  position: relative;
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 100px;
  padding-bottom: 10px;
}
div.topleft {
  position: relative;
  image-orientation: left;
  padding-right: 100px;
  padding-bottom: 100px;
  top: 40px;
  left: 90px;
}
div.bottomright {
  position: relative;
  image-orientation: right;
  padding-left: 0px;
  padding-top: 0px;
  margin-right: 180px;
  padding-bottom: auto;
  image-
}
div.topright {
  position: relative;
  text-align: right;
  padding-left: 30px;
  padding-top: 5px;
  text-align: top;
  margin-right: 150px;

}
div.bottomleft {
  position: relative;
  text-align: left;
  padding-right: 5px;
  padding-top: 0px;
  margin-left: 100px;
  column-gap: normal;

}
#logo {
  width: 1px;
  height: 1px;
  image-orientation: center;
  padding-left: 450px;
  padding-right:
  position: relative;
  float: center;
}

div.row2 {
  position: relative;
  width: 1000px solid;
  height: auto;
  align-content: center;
  margin-right: 180px;
}

div.happy {
  background-color: grey;
  width: 300px;
  height: 100px;
  margin-left: 20px;
}
div.party {
  background-color: orange;
  width: 300px;
  height: 100px;
  margin-left: 20px;
}

.row4 {
  background-image: url(foodsBg.jpg);
  backface-visibility: hidden;
  width: 1000px;
  height: 300px;
  margin-left: 30px;
}
.row4a {
  width: 600px;
  height: 150px;
  padding-left: 110px;
  padding-top: 80px;
  padding-right: 3px;
}
.row5 {
  background-color:#F2F0E6;
  width: 1000px;
  height: 200px;
  margin-left: 30px;
}
.nested2 {
  position: relative;
  background-color:#F0F8FF;
  width: 700px;
  height: 130px;
  float: center;
  align-self: center;
  padding-top: 15px;
}
.row6 {
  background-image: url(subscribe.jpg);
  width: 1000px;
  height: 200px;
  margin-left: 30px;
}
.text3 {
  text-align: center;
  text-decoration-color: red;
  text-indent: right;
  padding-left: 100px;
  padding-top: 70px;

}
.text1 {
    text-align: right;
    float: right;
    justify-content: flex-end;
}
.Food1 {
   float:left;

}
.nested{
  column-gap: 0px;
  position: relative;
  background-color: grey;
}
.row3 {
   background-color: brown;

}
.well2 {
  background-color: brown;

}

.text2 {
   text-align: right;
   justify-content: flex-end;
}
.drink {
  float: right;
  align-items: flex-end;

}
